/* SOBRE MIM */
.about .img-box {    
    max-width: 40%;
    padding: 15px;
    border-radius: 5px;
}

.about .img-box img {
    border: 10px solid transparent;
}

.about .about-infos {    
    max-width: 60%;
    padding: 0 25px;   
    align-self: center;
    text-align: justify; 
}

.about .about-infos p {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.about .about-infos p:nth-child(n+3) {
    margin-bottom: 50px;
}

@media(max-width: 1280px) { 
    .about .row-display {
        justify-content: center;
        padding: 0 var(--mobile-padding);
    }

    .about .img-box {        
        max-width: 100%;
        margin-bottom: 50px;
    }

    .about .about-infos {  
        text-align: center;
    }

    .about .img-box.inner-shadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@media(max-width:768px){
    .about .about-infos {  
        max-width: 100%;                   
    }
}